{% extends 'base.html' %}
{% block head_title %} Forgot Your Password? {% endblock head_title %}

{% block content %}
<section style="height:1000px;">
  <div class="card backgr shadow-lg rounded mt-5 py-3">
    <h2 class="card-title text-center">Forgot your password?</h2>
    <p class="card-text text-center">Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
      <div class="form-group text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary my-2">Send me instructions!</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}