{% extends 'base.html' %}

{% block head_title %}Email Sent{% endblock head_title%}


{% block content %}
<section style="height:800px;">
    <div class="card mt-5">
        <h2 class="card-title text-center my-2">Check your inbox.</h2>
        <p class="card-text text-center">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        <div class="card-link text-right">
            <a href="{% url 'home' %}">Continue To HomePage</a>
        </div>
    </div>
</section>
{% endblock %}