{% extends 'base.html' %}

{% block head_title %}Enter new password{% endblock head_title %}

{% block content %}

<section style="height:1000px;">
    <div class="card backgr shadow-lg rounded mt-5 py-3">
        <h2 class="card-title text-center">Reset password</h2>
        <p class="card-text text-center">
            Please fill in your new password.
        </p>
        <form method="post">
            <div class="form-group text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary my-2">Reset password</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}