<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products list</title>
</head>

<body>
    <h1>products:</h1>
    <ul>
        {% for product in products %}
        <li>
            <a href="{{product.get_absolute_url}}">
                <h2>{{ product.title }} </h2>
            </a>
        </li>
        {% empty %}
        <li>No Products</li>

        {% endfor %}
    </ul>

</body>

</html>