{% extends "base.html" %}
{% block head_title %}{{product.title | capfirst }}{% endblock %}

{% block content %}
<section style="height:1500px;">
    <div class="card backgr shadow-lg rounded mt-5 py-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="card-img" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-text text-muted">{{product.brand | capfirst }}</div>
                    <h2 class="card-title">{{product.title | capfirst }}</h2>
                    <div class="price card-text"> {{product.price | floatformat:2 }} $</div>
                    <p class="card-body">
                        {{product.description}}
                    </p>
                </div>
            {% if user and user.is_superuser %}
                <div>
                    <a href="{% url 'product_edit' pk=product.id %}">Edit</a> | <a href="{% url 'product_delete' pk=product.id %}">Delete</a>
                </div>
            {% endif %}
                <div class="my-2" style="text-align: center;">
                    <a href="{% url 'add_to_cart' product_id=product.id %}">
                        <i class="fas fa-cart-plus fa-5x" aria-hidden="true"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}