// base
$bg-2:#81D7D3;
.backgr {
    background-color: $bg-2 !important;
    h2{
        color: white;
    }
}

main{
    font-family: -webkit-pictograph !important;
    a{
        text-decoration: none !important;
    }
}
nav{
    background-color: #49919b ;
    font-family: cursive;

}
footer{
    font-family: cursive;
    height: 100px !important;
    background-color: #d6e5e7 !important ;
    }

.button-log {
    margin-left: 1.2em;
    @media screen and (max-width: 500px) {
        margin-left: 5em;       
                
    }
     
}
.wrapper{
    background-color: #0ABBB5 ;
}

.cart-icon {
    position: relative;
    span{
        position: absolute;
        top: -5px;
        right: -7px;
        color: white;
        background-color: red;
        font-size: 12px;
        border-radius: 50%;
        padding: 0px 5px;
    }
}

// footer
footer{
    background-color: #222;
    height: 50px;
    color: #999;
    text-align: center;
    line-height: 50px;
}

footer p{
    margin: 0;
}


#scroll-up{ /*2*/
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    bottom: 60px;
    right: 40px;
    position: fixed;
    border-radius: 4px;
    cursor: pointer;
    color: #999;
}

// product-list
.carousel-item{
    background-color: #00ABC0;
    opacity: 80%;
    .product-title{
        text-decoration: none;
        font-size: 50px;
        color:#fff;
        @media screen and (max-width: 500px) {
            font-size: 30px;
                    
        }
    }
    
}
.admin{
    text-align: center;
}
.product{
    .card{
        opacity: 90%;
        border-radius: 10px;
    }

    .img-group{
        position: relative;
        img{
            box-sizing: border-box;
            transition-duration: .4s;
        }
        .details-btn{
            position: absolute;
            width: 100%;
            text-align: center;
            padding: 15px;
            box-sizing: border-box;
            text-decoration: none;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%,0);
            opacity: 0;
            transition-property: opacity, bottom;
            transition-duration: .3s;
        }

    }
    .img-group:hover{
        img{
            opacity: 50%;            
            transform: scale(0.9);
        }
        .details-btn{
            bottom: 15px;
            opacity: 100;
            
        }

    }
}

.card-body{
    a {
        text-decoration: none !important;
        font-size: larger;
        font-weight: 500;
    }
}
.featured-products{
    position: relative;
    height: 550px;
    margin-bottom: 30px;
    @media screen and (max-width: 900px) {
        height: 320px;
                
    }
    
    svg{
        @media screen and (max-width: 900px) {
            height: 350px;
                    
        }
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 100% ;
        height: 700px;
      
                
    }
}
.section-headline{
    color: white;
    margin-bottom: 30px;
}


.price{
    background-color: crimson;
    color: white;
    display: inline;
    padding: 4px;
    border-radius: 3px;
    
}

// cart
.cart{
    padding: 10px;
    height: fit-content;
    ul{
        background-color: #D1EFED;
        width: 60%;
        border-radius: 20px 0px;
        padding: 5px;
        margin: 2px auto;
        list-style: none;
        @media screen and (max-width: 900px) {
            width: 100%;
                    
        }
        li:nth-child(2n-1){
            background-color: rgba(199, 189, 189, 0.493);
            
        }
        li:nth-child(2n){
            background-color: rgba(128, 119, 119, 0.534);
        }
        li{
            padding: 8px;
            margin: 5px auto;
            width: 80%;
            
            p{
                font-size: x-large;
                text-align: left;
                display: inline;
            }
            a{  
                font-size: large;
                float: right;
                margin: 0px 5px ;
                padding: 2px;
                color: black;
                width: 20px;
                height: 20x;
                text-align: center;
                text-decoration: none;
            }
            a:hover{
                transform: scale(1.2);
                color: white;
            }  
        }
        .total{
            font-weight: 800;
            font-size: x-large;
            width: fit-content;
            color: rgb(82, 72, 72);
            margin: 15px auto;
            span{
                color: rgb(82, 72, 72);
            }
        }
          
    }
    
}
// signup + rest password


.login{
    width: 70%;
    margin: 1px auto;
    height: 500px;
    position: relative;
    padding: 10px;
    @media screen and (max-width: 900px) {
        width: 100%;
                     
    }
    #Layer_1{
        position: absolute;
        width: 75%;
        right:-13%;
        top:0px;
        z-index: 40;
        @media screen and (max-width: 900px) {
            width: 75%;
            height: 250px;
            right: -2%;                    
        }
    }
    #Layer_2{
        position: absolute;
        top: 30px;
        z-index: 50;
    }
}
.form-group{
    label{
        display: block;
    }
    .helptext{
            display: block;
    }
}
.signup{
    margin: 10px auto;
    color: #000;
    @media screen and (max-width: 900px) {
        width: 90%;
    }
    width: 60%;
    padding: 10px;
    
}
