{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'normalize.css' %}" />
    <!--<link rel="stylesheet" href="{% static 'style.css' %}" />-->
    <link href="{% sass_src 'demo.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Domine" rel="stylesheet" />
    <title>Store - {% block head_title %} Home Page {% endblock head_title %}</title>
</head>

<body>
    <div class="wrapper">
        <!--HEADER-->
        <header class=''>
            <nav class="navbar navbar-dark ">
                <a class=" navbar-brand" href="{% url 'home' %}">
                    
                    STORE
                </a>

                <div class="navbar">
                    <div class="cart-icon">
                        <a href="{% url 'cart' %}" style="color:whitesmoke;"><i class="fas fa-shopping-cart"></i></a>

                        {% if request.user.cart.items.all|length > 0 %}
                        <span>
                            {{ request.user.cart.items.all|length }}
                        </span>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    <h6 class="text-white" style="font-weight: 200; margin-left: 1.1em;">Hi, {{ user.username }}</h6>
                    <input type="button" class="button-log btn btn-outline-dark"
                        onclick="location.href='{% url 'logout' %}'" value="Log out" />
                    {% else  %}
                    <input type="button" class="button-log btn btn-outline-light"
                        onclick="location.href='{% url 'login' %}'" value="Log in" />
                    {% endif %}
                </div>

            </nav>



        </header>

        <!--MAIN-->
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!--FOOTER-->
    <footer>
        <a href="#" id="scroll-up">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!--2-->
        <p>&copy; 2020 STORE All Rights Reserved.</p>
        <!--2-->
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>