{% extends "base.html" %}
{% block head_title %}Cart{% endblock %}

{% block content %}
<section style="height:1000px;">
    <div class="cart card mb-3 mt-5">
        <h2 class="card-subtitle text-center my-2">The Cart</h2>
        <ul>
            {% for item in items %}
            <li>
                <p>{{item.title | capfirst}}</p>
                <a href="{% url 'remove_from_cart' product_id=item.id %}"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
            </li>
            {% endfor %}
            <p class="total"> Total : <span>{{total_price | floatformat}} $</span></p>
            <a class="card-link float-right mx-4" href="{% url 'remove_all_from_cart' %}">Remove All</a>
        </ul>
        <div class="card-body text-center" >
            <a class="btn btn-primary text-center" href="{% url 'order' %}">CHECKOUT</a>
        </div>
        <hr/>
        
        
    </div>
</section>
{% endblock %}