{% extends "base.html" %}
{% block head_title %} Add Address {% endblock head_title %}

{% block content %}
<section style="height:1000px;">
    <div class="card mb-3 mt-5">
        <h2 class="card-title text-center">Add Address</h2>
        <form action="" method="post">
            <div class="form-group text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
                
            </div>
        </form>
    </div>
</section>
{% endblock %}